html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header{
    background: url("https://hdqwalls.com/download/stranger-things-season-3-2019-4k-5k-38-1920x1080.jpg") center/cover no-repeat;
    height: 60vh;
    margin: 0;
    display: flex;
    justify-content: center;
}
header h1{
    position:absolute;
    top:150px;
    color: #7f9184;
    font-size: 75px;
}